@font-face {
	font-family: 'Pokefont';
	src: url('./pokefont.ttf') format('woff');
}
body {
	overflow: hidden;
	padding: 20px;
}
body > #app {
	font-size: 32px;
	width: 100%;
	height: 100%;
	letter-spacing: 2px;
	font-family: 'Pokefont';
	font-smooth: never;
	-webkit-font-smoothing : none;
}