.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;

	> * {
		max-height: 300px;
	}

	.poke-ui {
		.poke-name {
			
		}
		.poke-level {
			font-size: 1.2rem;

			&:before {
				content: ":L";
				font-weight: bold;
				font-size: 1rem;
			}
		}
		.poke-hp {

		}
	}
	.poke-sprite-wrapper {
		overflow: hidden;
		display: grid;
		justify-content: right;

		.poke-sprite {
			$spriteSize: 400px;

			min-width: $spriteSize;
		}
	}

	&.-top {

	}
	&.-bottom {

		.poke-ui {
			display: grid;
			justify-content: right;
			align-content: flex-end;
			text-align: right;
		}
		.poke-sprite-wrapper {
			justify-content: center;
		}
		.poke-sprite {
			position: relative;
			top: -100px;
			min-width: 600px;
		}
		.menu-wrapper {
			height: 250px;
			border: 2px solid black;
			grid-column: span 2;
			border-radius: 5px;
			padding: 25px;
			overflow: hidden;
			position: relative;

			.select-menu {
				top: 0;
				height: 100%;
				border: 2px solid black;
				width: 50%;
				right: 0;
				position: absolute;
				display: grid;
				grid-template-columns: 1fr 1fr;

				.option {
					font-size: 2.75rem;
					margin: auto 100px;

					&.pkmn {
						letter-spacing: -1px;
						font-size: 2rem;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.poke-hp-bar {
	font-size: 0.5em;
	font-weight: bold;
	progress {
		height: 20px;
		background-image: none;
		color: blue;
		-webkit-appearance: none;
		appearance: none;
	}
	progress::-moz-progress-bar { background: blue; }
	progress::-webkit-progress-value { background: blue; }

}